html, body {
  margin: 0px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0,0,0,.5);
  background-position: center;
  background-image: url("tech.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#box {
  position: absolute;
  top: 50%;
  left: 10%;
}


a {
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
}

a:hover {
  color: greyg;
}